.tokens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 5px 0;
    margin-left: 50px;
}
.warnings{
    display: flex;
    flex-direction: column;
}
.warning{
    color: white;
}

.value_token{
    color: white;
    background: orangered;
    padding: 9px 12px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1.3em;   
}

.errors{
    display: flex;
    flex-direction: column;
}

.repair_part{
    color: white;
}

.button_repair{
    background: #27ae60;
    border-radius: 25px;
    padding: 2px 5px;
    margin-left: 10px;
    cursor: pointer;
}

.error{
    color: white;
}

.token_container{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.arrow{
    color: red;            
    font-size: 1.3em;
    padding: 0 7px;
}
.token{
    display: block;
    background: #079992;
    border-radius: 25px;
    padding: 5px;
    color: white;
}

.output_block_component{
    padding: 15px 0;
    overflow-y: auto;
    background: #3d3d3d;
    height: 30%;
    width: 100%;

    .header{
        color: white;
        display: flex;
        flex-direction: row;
        margin-left: 20px;

        .selecter{
            margin-left: 15px;
        }
    }

    .output_separator{
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #c56cf0;
        color: white;
        padding-bottom: 10px;
        width: 100%;
        .button_tokens{
            display: block;
            cursor: pointer;
            background: #7158e2;
            border-radius: 50px;
            margin-right: 10px;
            padding: 0 7px;
            margin-left: 10px;
        }

        .button_warnings{
            display: block;
            cursor: pointer;
            background: #ff9f1a;
            border-radius: 50px;
            padding: 0 7px;            
            margin-right: 10px;
        }

        .button_erros{
            display: block;
            cursor: pointer;
            background: #ff3838;
            border-radius: 50px;
            padding: 0 7px;            
        }
    }
}