.main_page_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;

    .vertical{
        display: flex;
        flex-direction: column;
        max-height: 100%;
    }
    
    .horizontal{
        display: flex;
        flex-direction: row;
    }

    .main_block_{
        display: flex;
        flex-direction: column;
        flex: auto;
    }
}