.status_bar_component{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background:  #030429;
    color: #e6e6e6;
    font-size: 0.7em;
    height: 20px;
    // margin-bottom: 5px;
    padding-left: 15px;
    width: 100%;

    .right_side{
        .info_block{
            display: flex;
            flex-direction: row;
            margin-right: 35px;
        }
        float: right;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-right: 20px;
        display: flex;
        flex-direction: row;
    }
}