.block_hover{
    position: absolute;
    bottom: 0;
    right: 0;

    margin-bottom: 23px;
    margin-right: 15px;
    padding: 15px 25px;

    border-radius: 50px;

    background: #060F40;
    color: white;


}   