.element_left_panel_menu{
    margin: 5px;
    padding: 5px;

    .img_element{
        background: url("./img/file.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
    }    

    &:hover{
        background: rgb(10, 23, 100);
        margin: 5px 0px;
        padding: 5px 10px;
    }
}